body {
  font-size: 14px;
  font-family: sans-serif;
  font: Tahoma;
}


h1{
  font-size: 32px;
}





@media (max-width: 400px) and (max-width: 799px){
  div{ -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
}


@media (min-width: 800px) and (max-width: 1199px){
  div{    -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
    }
  }


@media  (min-width: 1200px) {
  div {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192 dpi)
{/*Retina*/

}
