body {
  background: black;
  margin: 0;
  font-family:cursive;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding-top: 150px;
  background: #fff url(alton-brown-onion-dip.jpg) no-repeat top center;
  border-top: 10px solid #424242;
}

.recipe {
  padding: 20px 40px;
  background: #fff;

}


a:link{
  color: green;
  text-decoration: none;

}

a:visited{
  color: blue;
  text-decoration: line-through;

}

a:hover{
  color: grey;

}

ul li:first-child{
  color: red;
}

ul li:last-child{
  color: red;
}

ul li:nth-child(even){
  color: green;
}
ul li:nth-child(odd){
  color: blue;
}
ul{
  height: 175px;
}
ul li{

  padding: 10px;
  width: 300px;
  float: left;
}
.h2{
  font-family: "Helvetica";
  border: solid;
  background-color: yellow;
}
h2{
  clear: both;
  border: solid;
  border-color: orange;

}



/*
Pseudo classes
LoVHAte (:link, :visited, :hover, :active)
:first-child
:last-child
:nth-child(an+b/even/odd/n)
*/

/* Inline, Inline-Block and Block */
/* Float example */
